<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta description="Add description here">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
  </head>
  <body>
    <header>
      <h1>Your Website</h1>
    </header>
    <main class="m-auto bg-green-darker">
      <section>
        <h2>A section</h2>
        <p>With copy</p>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
